.restyle-card{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
    
}

.itemName{
    height: 80px;
}

.itemPrice{
    height: 30px;
}

.sortSection{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 30px auto;
    border: 1px solid rgb(153, 152, 152);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.sort{
    border: none;
}

